.left-por {
    background-color: white;
}

.right-part {
    background-color: white;
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
    border-radius: 20px;
}
#modal-info .modal-dialog {
    width: 60%;
}
#modal-list .modal-dialog {
    width: 60%;
}