body {
    background-image: url(../src/background/55.jpg);
}
.main {
    background-color: rgba(240, 248, 255, 0.514);
    position: relative;
    width: 80%;
    left:-10%;
    top: 80px;
}

.left-por {
    background-color: white;
}

.main-part {
    background-color: white;
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
    border-radius: 20px;
}

.bottom-part {
    background-color: white;
}
