body {
    background-image:url(../src/background/55.jpg);
background-attachment: fixed;
}

.main {
    position: absolute;
    width: 100%;
    top: 80px;
}

.left-list {
    padding: 25px;
    background-color: white;
    border-radius: 25px;
}
.button{
    text-align: center;
    border-radius: 5px;
}
.h2{
	margin-top: 0px !important;
}
.p{
	margin-top: 10px !important;
}
.look-button{
	margin-top: -15px;
}
.right-list {
    background-color: white;
    border-style: solid;
    border-color: darkgray;
    border-width: 2px;
    border-radius: 20px;
}

.bottom-part {
    background-color: white;
}
#modal-list .modal-dialog{
	width: 50%;
}
#comment{
	height: 350px;
	overflow-y: scroll;
}
