<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jung.entity.Table">
	<sql id="user_field">
		Name,Place,Position,content,expand_1,expand_2,expand_3,expand_4,expand_5,expand_6,expand_7,expand_8,expand_9
	</sql>
	<insert id="userSend" useGeneratedKeys="true" keyProperty="id">
		insert into form(<include refid="user_field"></include>) values (#{Name},#{Place},#{Position},#{content},#{expand_1},#{expand_2},#{expand_3},#{expand_4},#{expand_5},#{expand_6},#{expand_7},#{expand_8},#{expand_9})
	</insert>
	<insert id="StudentSend" useGeneratedKeys="true" keyProperty="id">
		insert into StudentSend(<include refid="user_field"></include>) values (#{Name},#{Phone},,#{position},#{content},#{expand_1},#{expand_2},#{expand_3},#{expand_4},#{expand_5},#{expand_6},#{expand_7},#{expand_8},#{expand_9})
	</insert>
	
	<select id="getUser" resultType="com.jung.entity.Table">
		select * from form 
	</select>
	<select id="getStudnet" resultType="com.jung.entity.Table">
		select * from StudentSend where table_id = #{table_id}
	</select>
	
	<select id="getUserInformation" resultMap="replaceId">
		select * from form where id =#{range};
	</select>
	<resultMap type="com.jung.entity.Table" id="replaceId">
		<result column="id" property="range"></result>
	</resultMap>
</mapper>