<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jung.entity.Table">
	<sql id="user_insert">
		title,shopname,position,address,linkman,phone,content
	</sql>
	<insert id="userSend" useGeneratedKeys="true" keyProperty="id">
		insert into form(<include refid="user_insert"></include>) values (#{title},#{shopname},#{position},#{address},#{linkman},#{phone},#{content});
	</insert>
	
	<sql id="student_insert">
		id,name,phone,age,sex,content
	</sql>
	<insert id="StudentSend" useGeneratedKeys="true" keyProperty="id">
		insert into StudentSend(<include refid="student_insert"></include>) values (#{id},#{name},#{phone},#{age},#{sex},#{content});
	</insert>
	
	<select id="getUser" resultType="com.jung.entity.Send">
		select * from form 
	</select>
	
	<select id="getStudent" resultType="com.jung.entity.StudentSend">
		select * from StudentSend where target = #{id};
	</select>
		
	<select id ="getUS" resultType="com.jung.entity.Send">
		select * from form where id = #{user};
	</select>
	
	<select id = "queryUserSend" resultType  ="com.jung.entity.Send">
		select * from form where linkman = #{linkman};
	</select>
	
	<select id = "queryStudentSend" resultType  ="com.jung.entity.StudentSend">
		select * from StudentSend where name = #{linkman};
	</select>
	
	<resultMap type="com.jung.entity.Table" id="replaceId">
		<result column="id" property="range"></result>
	</resultMap>
	
	
	<select id ="getStudentSendById" resultType  ="com.jung.entity.StudentSend">
		select * from StudentSend where name = #{id}
	</select>
	
	
	<select id ="getSendByTarget" resultType ="com.jung.entity.Send">
		select * from form where table_id = #{target}
	</select>

</mapper>